@model CarShop3.Models.Car
@{
    Layout = "/Views/MasterView.cshtml";
}

<table>
    <tbody>
        <tr>
            <th id="main_title" colspan="3">
                <h1>@Model.Title</h1>
            </th>
        </tr>
        <tr class="big_pic">
            <td colspan="3">
                <img id="Preview" alt="Изображение" src="@Model.SubPreview.Split(',')[0]">
            </td>
        </tr>
        <tr class="small_pic">
            <td>
                <img  onclick=SetIMG(this.src) alt="Изображение" src="@Model.SubPreview.Split(',')[0]">
            </td>
            <td>
                <img onclick=SetIMG(this.src) alt="Изображение" src="@Model.SubPreview.Split(',')[1]">
            </td>
            <td>
                <img onclick=SetIMG(this.src) alt="Изображение" src="@Model.SubPreview.Split(',')[2]">
            </td>
        </tr>
    </tbody>
</table>
@section Form{
<div class="form_block big_card">
    @Html.Action("Form", "Home", new { item_id = Model.Id })
</div>
}